/*------STYLE------*/

/*------VARIABLES------*/
:root {
    /* nav */
    --nav-logo-width: 20%;
    --nav-bar-width: 70%;
    --nav-margin: 2%;
    --red:#F43545;
    --orange: #FF8901;
    --yellow: #FAD717;
    --green: #00BA71;
    --cyan: #00C2DE;
    --blue: #00418D;
    --pink: #ff3ae1;
    --purple: #5F2879;
}
/*------ALL FILE------*/
* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    color: white;
    transition: all 0.2s ease;
}
body {
    
    /* background-color: blue; */
}
.neonTextBlue {
    color: #fff;
    text-shadow:
        0 0 7px #00c8ff,
        0 0 10px #00c8ff,
        0 0 21px #00c8ff,
        0 0 42px #00c8ff,
        0 0 82px #00c8ff,
        0 0 92px #00c8ff,
        0 0 102px #00c8ff,
        0 0 151px #00c8ff;
}.neonTextWhite {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #000,
        0 0 102px #000,
        0 0 151px #000;
}.neonTextPink {
    color: #fff;
    text-shadow:
        0 0 7px #ea00ff,
        0 0 10px #ea00ff,
        0 0 21px #ea00ff,
        0 0 42px #ea00ff,
        0 0 82px #ea00ff,
        0 0 92px #ea00ff,
        0 0 102px #ea00ff,
        0 0 151px #ea00ff;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: var(--nav-margin);
    /* align-items: baseline; */
    justify-content: space-around;
} header a { /* LOGO */
    text-decoration: none;
} header a img {
    width: 220px;
} header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(205, 20, 20); */
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--cyan);
    box-shadow: 0px 0px 40px 0px rgba(0, 194, 222, 1);
}
input:focus + .slider {
    /* box-shadow: 0 0 1px var(--cyan); */
}
input:checked + .slider:before {
    -webkit-transform: translateX(85px);
    -ms-transform: translateX(85px);
    transform: translateX(85px);
}
nav { /* NAVBAR BOX */
    width: var(--nav-bar-width);
}nav ul{ 
    /* width: var(--nav-bar-width); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
}nav ul li{
    list-style: none;
    padding-top: 15px;
}nav ul li:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #000,
        0 0 151px #000;
    /* scale: 1.2; */
}nav ul li a {
    font-size: 18px;
    letter-spacing: 8px;
}
/*------PAGE 1------*/
.page1 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* padding-left: 15%; */
}.page1 .neonControl {
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* border: 1px solid black; */

}.page1 h1 {
    font-size: 250px;
    /* border: 1px solid black; */
    word-break: break-all;
    text-align: center;
    letter-spacing: 5px;
    display: inline-block;
    line-height: 200px;
    width: 400px;
}.page1 h2 {
    font-size: 60px;
    letter-spacing: 16px;
    /* text-align: center; */
    display: inline;
    writing-mode: vertical-lr;
    padding-top: 25px;
    /* text-align: ; */
    /* border: 1px solid black; */
}.page1 h3 {
    font-size: 40px;
    letter-spacing: 16px;
    /* text-align: center; */
    display: inline;
    writing-mode: vertical-lr;
    padding-top: 25px;
    /* text-align: ; */
    /* border: 1px solid black; */
}.page1 .luminosity {
    /* padding-left: 300px; */
    margin-left: 200px;
    display: inline;
    width: 200px;
    /* border: 1px solid black; */
}#number {
    width: 50px;
    /* border: 1px solid black; */
    font-size: 20px;
    transform: translate(65px, -40px);
    text-align: center;
}input[type="range"]{
    width: 380px;
    transform: translate(-100px,-278px) rotate(-90deg);
    height: 3px;
    border-radius: 100px;
}

/*------PAGE 2------*/
.page2 {
    height: 100vh;
}

/*------PAGE 3------*/
.page3 {
    height: 100vh;
}